<div class="col-md-12">
    <div class="row">
        <form>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" [disabled]="status == 'detalhes'" name="nome" [(ngModel)]="cliente.nome" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" [disabled]="status == 'detalhes'" name="email" [(ngModel)]="cliente.email" />
            </div>
            <div class="form-group">
                <input *ngIf="status != 'detalhes'" type="button" (click)="salvar()" class="btn btn-success btn-block" value="Salvar" />
            </div>
        </form>
    </div>
</div>